*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

html{
  width: 100%;
}

body{
  width: 100%;
  background-color: aliceblue;
}

#root{
  
  width: 100%;
  
}

.bdy{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  box-shadow: 4px 3px 1px 1px black;
  width: 50%;
  margin: 50px auto;
  min-height: 500px;
}

.mainTitle{
  margin-top: 20px;
}

.btnin,.btn{
  height: 30px;
  min-width: 170px;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 1px black;
  transition: 300ms;
  background-color: ghostwhite;
  padding: 0px 5px;
}

.btn:hover{
  background-color: azure;
  transform: translateY(-0.33em);
}

.btn:active{
  background-color: ghostwhite;
  transform: translateY(0);
}



.tab{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  list-style: none;
}

.note{
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  border-bottom: 1px solid black;
  align-items: center;
  
  text-align: justify;
}

.frm {
  display: flex;
  width: 90%;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.inpt{
  height: 30px;
  outline: none;
  min-width: 170px;
  border-radius: 8px 0px 0px 8px;
  box-shadow: 2px 2px 1px 1px black;
  border-right: none;
  padding-left: 20px;
}

.btnin{
  
  border-radius: 0px 8px 8px 0px;
  min-width: 100px;
  font-weight: 600;
}



